In [13]:
import pandas as pd
import sqlite3
import math
import datetime 
import numpy as np
import matplotlib.pyplot as plt

from IPython.core.display import display, HTML

In [14]:
conn = sqlite3.connect('database.db')

In [15]:
c = conn.cursor()

# DESAIN DATABASE DATAWAREHOUSE
<img src="desaindatabase.png">

In [16]:
c.executescript('drop table if exists Perusahaan')
c.executescript('drop table if exists Konsumen')
c.executescript('drop table if exists Pemesanan')
c.execute("CREATE TABLE IF NOT EXISTS 'Perusahaan' ('Id' INT, 'Nama_perusahaan' VARCHAR(100) NULL, PRIMARY KEY ('Id'))")
c.execute("CREATE TABLE IF NOT EXISTS 'Konsumen' ('Id' INT, 'Username' VARCHAR(100) NULL, 'Alamat'VARCHAR(100) NULL,'no_hp' INT NULL, PRIMARY KEY ('Id'))")
c.execute("CREATE TABLE IF NOT EXISTS 'Pemesanan' ('Id' INT, 'tgl' DATE NULL, 'Jumlah_ayam' INT NULL, 'kg' INT NULL, 'Harga_unit' INT NULL, 'Total_harga' INT NULL, 'Perusahaan_Id' INT NOT NULL, 'Konsumen_Id' INT NOT NULL, PRIMARY KEY ('Id'), FOREIGN KEY ('Perusahaan_Id') REFERENCES 'Perusahaan' ('Id') ON DELETE NO ACTION ON UPDATE NO ACTION, FOREIGN KEY ('Konsumen_Id') REFERENCES 'Konsumen' ('Id') ON DELETE NO ACTION ON UPDATE NO ACTION)")

In [27]:
data = pd.read_csv("Data Penjualan Ayam.csv")
data

,tgl,jumlah_ayam,kg,harga_unit,total_harga,nama_perusahaan,username,alamat,no_hp
0,2021-01-17,91,"0,83",18184,1654744,NABIL,nabil11,Unaaha,842
1,2018-06-15,98,"0,39",19128,1874544,MAMA MELAN,mamamelan13,Unaaha,844
2,2020-02-17,162,"0,49",15758,2552796,YUS,yus12,Unaaha,843
3,2020-04-09,52,"0,4",17540,912080,ASDAR,asdar8,Konsel,839
4,2019-07-06,119,"0,45",18792,2236248,UMMU,ummu6,Unaaha,837
...,...,...,...,...,...,...,...,...,...
216,2020-06-18,165,"0,47",12009,1981485,MISE,mise14,Unaaha,845
217,2021-07-17,84,"0,7",17004,1428336,ASDAR,asdar8,Konsel,839
218,2018-12-11,117,"0,54",17238,2016846,YUS,yus12,Unaaha,843
219,2020-12-10,107,"0,97",15664,1676048,NABIL,nabil11,Unaaha,842
220,2018-01-23,136,"0,2",18961,2578696,ALI,ali10,Unaaha,841

In [37]:
Perusahaan = []
Pemesanan = []
Konsumen  = [] 

for i, j in data.iterrows():
    if j[5] not in Perusahaan:
        Perusahaan.append(j[5])
    
    p = -1
    for index,values in enumerate(Perusahaan):
        if values == j[5]:
            p = index+1
            break
    
    
    if [j[6], j[7], j[8]] not in Konsumen :
        Konsumen.append([j[6], j[7], j[8]])
    
    k = -1
    for index,values in enumerate(Konsumen):
        if values[0] == j[6]:
            k = index+1
            break
    
    if[j[0], j[1], j[2], j[3], j[4], p, k] not in Pemesanan:
        Pemesanan.append([j[0], j[1], j[2], j[3], j[4], p, k])

print(Perusahaan)
print(Pemesanan)
print(Konsumen)

['NABIL', 'MAMA MELAN', 'YUS', 'ASDAR', 'UMMU', 'UMMU', 'ASDAR', 'HASNA', 'SAPRI', 'MAMA MELAN', 'MISE', 'YUS', 'INDRI', 'MAMA MELAN', 'ISRA', 'ISRA', 'NABIL', 'ALI', 'ISRA', 'UMMU', 'INDRI', 'INDRI', 'MISE', 'LINA', 'STQ', 'WANDI', 'ISRA', 'YUS', 'MISE', 'ALI', 'INDRI', 'WANDI', 'ISRA', 'WANDI', 'STQ', 'UMMU', 'STQ', 'ISRA', 'STQ', 'ASDAR', 'MISE', 'YUS', 'INDRI', 'ISRA', 'HASNA', 'MAMA MELAN', 'ISRA', 'HASNA', 'SAPRI', 'UMMU', 'LINA', 'MAMA MELAN', 'UMMU', 'ASDAR', 'HASNA', 'LINA', 'SAPRI', 'ASDAR', 'UMMU', 'NABIL', 'ALI', 'HASNA', 'YUS', 'INDRI', 'WANDI', 'MISE', 'HASNA', 'NABIL', 'SAPRI', 'MAMA MELAN', 'ASDAR', 'WANDI', 'INDRI', 'HASNA', 'ALI', 'HASNA', 'UMMU', 'ASDAR', 'STQ', 'STQ', 'HASNA', 'INDRI', 'ISRA', 'NABIL', 'NABIL', 'YUS', 'ASDAR', 'INDRI', 'HASNA', 'UMMU', 'LINA', 'HASNA', 'STQ', 'LINA', 'STQ', 'UMMU', 'MISE', 'INDRI', 'YUS', 'ASDAR', 'MISE', 'HASNA', 'INDRI', 'ASDAR', 'STQ', 'MISE', 'STQ', 'NABIL', 'ALI', 'STQ', 'HASNA', 'LINA', 'SAPRI', 'MISE', 'INDRI', 'LINA', 'ALI', 'STQ', 'MAMA MELAN', 'UMMU', 'UMMU', 'SAPRI', 'ASDAR', 'ISRA', 'STQ', 'NABIL', 'ALI', 'STQ', 'ASDAR', 'LINA', 'LINA', 'YUS', 'STQ', 'MAMA MELAN', 'MISE', 'STQ', 'HASNA', 'MAMA MELAN', 'UMMU', 'SAPRI', 'ISRA', 'SAPRI', 'LINA', 'NABIL', 'LINA', 'MAMA MELAN', 'NABIL', 'MAMA MELAN', 'LINA', 'UMMU', 'SAPRI', 'ISRA', 'UMMU', 'MISE', 'WANDI', 'ALI', 'YUS', 'INDRI', 'INDRI', 'ISRA', 'HASNA', 'YUS', 'ASDAR', 'WANDI', 'MAMA MELAN', 'SAPRI', 'MAMA MELAN', 'LINA', 'UMMU', 'STQ', 'SAPRI', 'STQ', 'SAPRI', 'NABIL', 'HASNA', 'HASNA', 'ASDAR', 'LINA', 'ASDAR', 'MISE', 'SAPRI', 'WANDI', 'MAMA MELAN', 'SAPRI', 'ISRA', 'SAPRI', 'SAPRI', 'ASDAR', 'YUS', 'MISE', 'SAPRI', 'INDRI', 'MISE', 'WANDI', 'STQ', 'STQ', 'NABIL', 'STQ', 'STQ', 'INDRI', 'ALI', 'UMMU', 'STQ', 'YUS', 'INDRI', 'UMMU', 'SAPRI', 'YUS', 'HASNA', 'UMMU', 'INDRI', 'NABIL', 'YUS', 'STQ', 'WANDI', 'ISRA', 'MISE', 'ASDAR', 'YUS', 'NABIL', 'ALI']
[['2021-01-17', 91, '0,83', 18184, 1654744, 1, 1], ['2018-06-15', 98, '0,39', 19128, 1874544, 2, 2], ['2020-02-17', 162, '0,49', 15758, 2552796, 3, 3], ['2020-04-09', 52, '0,4', 17540, 912080, 4, 4], ['2019-07-06', 119, '0,45', 18792, 2236248, 5, 5], ['2020-06-03', 78, '0,03', 18994, 1481532, 5, 5], ['2019-12-15', 82, '0,15', 19024, 1559968, 4, 4], ['2020-09-11', 54, '0,9', 18823, 1016442, 8, 6], ['2020-01-02', 81, '0,53', 19127, 1549287, 9, 7], ['2018-04-17', 70, '0,96', 13382, 936740, 2, 2], ['2021-11-02', 115, '0,29', 14719, 1692685, 11, 8], ['2020-09-07', 76, '0,25', 15377, 1168652, 3, 3], ['2018-04-11', 109, '0,79', 12885, 1404465, 13, 9], ['2019-02-08', 74, '0,53', 13977, 1034298, 2, 2], ['2018-03-19', 93, '0,74', 13312, 1238016, 15, 10], ['2021-07-14', 60, '0,64', 13624, 817440, 15, 10], ['2018-08-10', 139, '0,86', 13812, 1919868, 1, 1], ['2019-03-15', 73, '0,18', 15834, 1155882, 18, 11], ['2018-05-20', 96, '0,31', 12934, 1241664, 15, 10], ['2018-02-24', 164, '0,55', 12995, 2131180, 5, 5], ['2021-11-21', 54, '0,98', 18632, 1006128, 13, 9], ['2021-05-13', 65, '0,98', 14555, 946075, 13, 9], ['2019-11-04', 56, '0,29', 18740, 1049440, 11, 8], ['2021-10-15', 95, '0,57', 18769, 1783055, 24, 12], ['2018-08-14', 147, '0,54', 19073, 2803731, 25, 13], ['2021-01-26', 51, '0,31', 18830, 960330, 26, 14], ['2018-08-19', 55, '0,41', 14327, 787985, 15, 10], ['2021-11-18', 115, '0,94', 14032, 1613680, 3, 3], ['2018-06-26', 109, '0,85', 12996, 1416564, 11, 8], ['2021-07-22', 85, '0,52', 17433, 1481805, 18, 11], ['2018-03-23', 127, '0,72', 18058, 2293366, 13, 9], ['2021-03-12', 69, '0,94', 16111, 1111659, 26, 14], ['2018-02-02', 150, '0,24', 17483, 2622450, 15, 10], ['2020-09-15', 80, '0,9', 16333, 1306640, 26, 14], ['2018-04-01', 61, '0,14', 17337, 1057557, 25, 13], ['2021-08-28', 67, '0,35', 14688, 984096, 5, 5], ['2021-02-22', 96, '0,52', 15931, 1529376, 25, 13], ['2020-08-06', 85, '0,21', 12411, 1054935, 15, 10], ['2020-12-04', 135, '0,64', 13251, 1788885, 25, 13], ['2021-04-26', 127, '0,25', 17452, 2216404, 4, 4], ['2021-11-09', 78, '0,19', 17642, 1376076, 11, 8], ['2019-09-06', 99, '0,09', 19010, 1881990, 3, 3], ['2019-01-14', 125, '0,63', 12942, 1617750, 13, 9], ['2021-11-10', 147, '0,65', 14544, 2137968, 15, 10], ['2018-03-08', 68, '0,7', 15920, 1082560, 8, 6], ['2020-10-09', 89, '0,3', 15910, 1415990, 2, 2], ['2020-04-28', 67, '0,92', 16927, 1134109, 15, 10], ['2020-05-08', 141, '0,99', 13125, 1850625, 8, 6], ['2020-10-01', 76, '0,02', 17220, 1308720, 9, 7], ['2019-08-07', 143, '0,71', 17504, 2503072, 5, 5], ['2020-08-21', 58, '0,46', 14628, 848424, 24, 12], ['2021-06-04', 142, '0,12', 12182, 1729844, 2, 2], ['2019-10-25', 53, '0,55', 12483, 661599, 5, 5], ['2020-04-11', 92, '0,01', 18081, 1663452, 4, 4], ['2020-06-12', 105, '0,45', 16003, 1680315, 8, 6], ['2021-06-26', 160, '0,7', 13951, 2232160, 24, 12], ['2019-01-03', 143, '0,68', 13569, 1940367, 9, 7], ['2019-07-22', 156, '0,44', 14815, 2311140, 4, 4], ['2018-02-19', 127, '0,21', 17402, 2210054, 5, 5], ['2019-06-17', 92, '0,69', 16370, 1506040, 1, 1], ['2019-07-14', 77, '0,81', 18696, 1439592, 18, 11], ['2020-09-07', 140, '0,94', 12251, 1715140, 8, 6], ['2021-01-11', 153, '0,72', 13393, 2049129, 3, 3], ['2021-01-19', 87, '0,27', 12740, 1108380, 13, 9], ['2021-11-26', 147, '0,59', 14616, 2148552, 26, 14], ['2019-08-23', 136, '0,81', 16039, 2181304, 11, 8], ['2021-02-09', 156, '0,19', 18363, 2864628, 8, 6], ['2020-05-02', 158, '0,6', 17296, 2732768, 1, 1], ['2019-02-22', 54, '0,68', 17765, 959310, 9, 7], ['2021-01-08', 134, '0,68', 15027, 2013618, 2, 2], ['2021-06-15', 166, '0,94', 13252, 2199832, 4, 4], ['2018-11-25', 139, '0,49', 18259, 2538001, 26, 14], ['2020-08-15', 77, '0,93', 13578, 1045506, 13, 9], ['2021-11-24', 123, '0,73', 13686, 1683378, 8, 6], ['2020-03-01', 146, '0,79', 17608, 2570768, 18, 11], ['2019-04-10', 100, '0,8', 15537, 1553700, 8, 6], ['2021-07-18', 72, '0,59', 18476, 1330272, 5, 5], ['2020-07-23', 98, '0,85', 19153, 1876994, 4, 4], ['2020-06-13', 66, '0,44', 14731, 972246, 25, 13], ['2018-01-01', 115, '0,28', 18691, 2149465, 25, 13], ['2021-09-13', 95, '0,13', 13698, 1301310, 8, 6], ['2019-06-03', 110, '0,74', 12055, 1326050, 13, 9], ['2020-02-15', 118, '0,55', 13106, 1546508, 15, 10], ['2021-02-06', 106, '0,81', 14774, 1566044, 1, 1], ['2021-04-01', 56, '0,59', 16602, 929712, 1, 1], ['2019-07-04', 63, '0,29', 14398, 907074, 3, 3], ['2019-03-09', 134, '0,13', 13368, 1791312, 4, 4], ['2018-11-08', 110, '0,16', 16372, 1800920, 13, 9], ['2020-07-15', 135, '0,92', 17210, 2323350, 8, 6], ['2021-07-19', 79, '0,65', 17790, 1405410, 5, 5], ['2021-12-22', 108, '0,28', 14140, 1527120, 24, 12], ['2019-06-05', 110, '0,8', 17716, 1948760, 8, 6], ['2019-09-26', 165, '0,36', 18346, 3027090, 25, 13], ['2021-11-28', 100, '0,64', 16166, 1616600, 24, 12], ['2019-09-14', 121, '0,75', 15609, 1888689, 25, 13], ['2020-09-18', 72, '0,6', 17415, 1253880, 5, 5], ['2020-07-16', 130, '0,9', 13853, 1800890, 11, 8], ['2018-09-15', 115, '0,24', 13204, 1518460, 13, 9], ['2019-08-06', 59, '0,85', 17369, 1024771, 3, 3], ['2021-03-08', 156, '0,36', 14086, 2197416, 4, 4], ['2018-02-15', 87, '0,73', 12892, 1121604, 11, 8], ['2019-02-20', 90, '0,25', 16503, 1485270, 8, 6], ['2018-08-12', 90, '0,85', 15905, 1431450, 13, 9], ['2020-09-16', 65, '0,01', 16955, 1102075, 4, 4], ['2019-05-17', 149, '0,55', 19096, 2845304, 25, 13], ['2021-01-11', 89, '0,89', 12689, 1129321, 11, 8], ['2019-12-21', 161, '0,94', 16859, 2714299, 25, 13], ['2018-01-19', 65, '0,81', 14912, 969280, 1, 1], ['2020-07-25', 123, '0,79', 12417, 1527291, 18, 11], ['2019-02-12', 104, '0,62', 15475, 1609400, 25, 13], ['2018-12-26', 119, '0,23', 14599, 1737281, 8, 6], ['2018-04-08', 165, '0,14', 16500, 2722500, 24, 12], ['2021-01-15', 125, '0,18', 13788, 1723500, 9, 7], ['2020-04-19', 101, '0,04', 16671, 1683771, 11, 8], ['2019-05-14', 104, '0,5', 15142, 1574768, 13, 9], ['2019-10-08', 73, '0,91', 13038, 951774, 24, 12], ['2019-04-05', 77, '0,41', 12041, 927157, 18, 11], ['2020-02-04', 60, '0,48', 18723, 1123380, 25, 13], ['2021-05-25', 152, '0,78', 18652, 2835104, 2, 2], ['2018-04-17', 71, '0,87', 17632, 1251872, 5, 5], ['2020-04-16', 102, '0,2', 17063, 1740426, 5, 5], ['2021-05-07', 75, '0,25', 13288, 996600, 9, 7], ['2020-10-03', 106, '0,44', 15865, 1681690, 4, 4], ['2019-11-16', 83, '0,28', 12243, 1016169, 15, 10], ['2019-11-23', 115, '0,34', 12537, 1441755, 25, 13], ['2021-06-11', 118, '0,5', 17891, 2111138, 1, 1], ['2020-02-25', 123, '0,44', 18675, 2297025, 18, 11], ['2018-08-17', 138, '0,98', 14725, 2032050, 25, 13], ['2020-07-18', 63, '0,02', 16141, 1016883, 4, 4], ['2020-10-13', 149, '0,77', 14761, 2199389, 24, 12], ['2020-10-18', 72, '0,97', 12282, 884304, 24, 12], ['2018-03-06', 99, '0,38', 13770, 1363230, 3, 3], ['2020-12-12', 159, '0,71', 17401, 2766759, 25, 13], ['2020-01-06', 101, '0,32', 13237, 1336937, 2, 2], ['2020-03-09', 80, '0,68', 12872, 1029760, 11, 8], ['2018-03-15', 139, '0,96', 16704, 2321856, 25, 13], ['2019-12-02', 114, '0,18', 17874, 2037636, 8, 6], ['2020-06-24', 122, '0,53', 17302, 2110844, 2, 2], ['2018-12-02', 99, '0,86', 17373, 1719927, 5, 5], ['2020-11-19', 61, '0,65', 17044, 1039684, 9, 7], ['2021-09-16', 159, '0,34', 12734, 2024706, 15, 10], ['2021-05-02', 52, '0,8', 17168, 892736, 9, 7], ['2020-03-09', 90, '0,23', 13337, 1200330, 24, 12], ['2021-05-02', 78, '0,51', 16581, 1293318, 1, 1], ['2020-05-10', 97, '0,19', 16654, 1615438, 24, 12], ['2020-06-20', 125, '0,7', 14323, 1790375, 2, 2], ['2021-02-16', 164, '0,58', 18656, 3059584, 1, 1], ['2018-06-02', 91, '0,03', 15821, 1439711, 2, 2], ['2020-01-28', 130, '0,8', 14324, 1862120, 24, 12], ['2018-07-12', 113, '0,86', 13268, 1499284, 5, 5], ['2019-11-16', 104, '0', 12275, 1276600, 9, 7], ['2020-04-26', 63, '0,83', 13411, 844893, 15, 10], ['2021-04-01', 165, '0,6', 18017, 2972805, 5, 5], ['2021-06-26', 92, '0,69', 14745, 1356540, 11, 8], ['2019-09-24', 166, '0,27', 18950, 3145700, 26, 14], ['2018-03-03', 136, '0,04', 12138, 1650768, 18, 11], ['2020-06-09', 159, '0,99', 15665, 2490735, 3, 3], ['2018-01-02', 148, '0,57', 16270, 2407960, 13, 9], ['2019-08-14', 150, '0,85', 17006, 2550900, 13, 9], ['2020-06-26', 140, '0,12', 12482, 1747480, 15, 10], ['2021-12-23', 71, '0,37', 17860, 1268060, 8, 6], ['2018-02-03', 117, '0,73', 17900, 2094300, 3, 3], ['2021-11-03', 73, '0,48', 14934, 1090182, 4, 4], ['2018-08-06', 141, '0,31', 18553, 2615973, 26, 14], ['2021-05-07', 101, '0,75', 17831, 1800931, 2, 2], ['2021-03-20', 137, '0,57', 14302, 1959374, 9, 7], ['2020-09-10', 57, '0,59', 19063, 1086591, 2, 2], ['2021-11-21', 159, '0,88', 12152, 1932168, 24, 12], ['2019-06-12', 53, '0,32', 12669, 671457, 5, 5], ['2018-07-13', 140, '0,85', 13325, 1865500, 25, 13], ['2018-07-28', 67, '0,44', 12100, 810700, 9, 7], ['2019-04-24', 136, '0,5', 12920, 1757120, 25, 13], ['2018-09-20', 160, '0,73', 14176, 2268160, 9, 7], ['2019-11-11', 139, '0,26', 15525, 2157975, 1, 1], ['2020-08-03', 108, '0,95', 14537, 1569996, 8, 6], ['2018-05-23', 164, '0,81', 15632, 2563648, 8, 6], ['2019-03-23', 131, '0,88', 14375, 1883125, 4, 4], ['2018-12-28', 120, '0,47', 18573, 2228760, 24, 12], ['2021-10-28', 73, '0,27', 16865, 1231145, 4, 4], ['2019-09-19', 139, '0,49', 17638, 2451682, 11, 8], ['2018-10-06', 163, '1', 18228, 2971164, 9, 7], ['2018-12-02', 78, '0,32', 15244, 1189032, 26, 14], ['2020-10-12', 59, '0,41', 15485, 913615, 2, 2], ['2018-03-03', 91, '0,08', 17692, 1609972, 9, 7], ['2019-07-22', 161, '0,78', 18498, 2978178, 15, 10], ['2019-06-10', 98, '0,86', 19147, 1876406, 9, 7], ['2018-06-11', 110, '0,21', 18112, 1992320, 9, 7], ['2020-04-13', 63, '0,11', 16854, 1061802, 4, 4], ['2018-01-01', 116, '0,86', 14725, 1708100, 3, 3], ['2018-06-11', 106, '0,04', 15366, 1628796, 11, 8], ['2019-08-16', 73, '0,47', 12010, 876730, 9, 7], ['2019-05-08', 76, '0,96', 16056, 1220256, 13, 9], ['2020-05-04', 99, '0,59', 17564, 1738836, 11, 8], ['2019-11-02', 63, '0,27', 18210, 1147230, 26, 14], ['2020-07-02', 134, '0,32', 12682, 1699388, 25, 13], ['2021-11-13', 134, '0,13', 12707, 1702738, 25, 13], ['2019-07-10', 84, '0,12', 13665, 1147860, 1, 1], ['2021-10-28', 56, '0,18', 14494, 811664, 25, 13], ['2020-01-18', 128, '0,36', 14533, 1860224, 25, 13], ['2018-06-01', 121, '0,28', 12656, 1531376, 13, 9], ['2021-08-11', 152, '0,51', 17818, 2708336, 18, 11], ['2021-11-04', 80, '0,52', 17914, 1433120, 5, 5], ['2019-12-18', 64, '0,75', 18453, 1180992, 25, 13], ['2020-07-02', 101, '0,94', 12367, 1249067, 3, 3], ['2019-02-22', 82, '0,99', 12438, 1019916, 13, 9], ['2021-12-22', 54, '0,75', 16923, 913842, 5, 5], ['2020-04-08', 162, '0,07', 12516, 2027592, 9, 7], ['2019-06-09', 52, '0,53', 15195, 790140, 3, 3], ['2019-06-08', 83, '0,24', 16037, 1331071, 8, 6], ['2021-01-16', 146, '0,71', 16625, 2427250, 5, 5], ['2018-10-03', 75, '0,83', 18820, 1411500, 13, 9], ['2018-08-25', 130, '0,67', 12687, 1649310, 1, 1], ['2019-12-19', 130, '0,51', 15008, 1951040, 3, 3], ['2021-09-19', 94, '0,49', 17733, 1666902, 25, 13], ['2019-02-11', 144, '0,03', 18436, 2654784, 26, 14], ['2019-01-15', 109, '0,23', 17989, 1960801, 15, 10], ['2020-06-18', 165, '0,47', 12009, 1981485, 11, 8], ['2021-07-17', 84, '0,7', 17004, 1428336, 4, 4], ['2018-12-11', 117, '0,54', 17238, 2016846, 3, 3], ['2020-12-10', 107, '0,97', 15664, 1676048, 1, 1], ['2018-01-23', 136, '0,2', 18961, 2578696, 18, 11]]
[['nabil11', 'Unaaha', 842], ['mamamelan13', 'Unaaha', 844], ['yus12', 'Unaaha', 843], ['asdar8', 'Konsel', 839], ['ummu6', 'Unaaha', 837], ['hasna5', 'Unaaha', 836], ['sapri9', 'Unaaha', 840], ['mise14', 'Unaaha', 845], ['indri1', 'Unaaha', 832], ['isra3', 'Konsel', 834], ['ali10', 'Unaaha', 841], ['lina4', 'Bombana', 835], ['stq2', 'Unaaha', 833], ['wandi7', 'Kendari', 838]]

In [49]:
c.execute("DELETE FROM PERUSAHAAN")
for index, i in enumerate(Perusahaan): 
    c.execute("INSERT INTO PERUSAHAAN VALUES ({},'{}')".format(index ,i))
    
c.execute("DELETE FROM KONSUMEN")
for index, i in enumerate(Konsumen): 
    c.execute("INSERT INTO Konsumen VALUES ({},'{}','{}','{}')".format(index ,i[0],i[1],i[2]))
    
c.execute("DELETE FROM PEMESANAN")
for index, i in enumerate(Pemesanan): 
    c.execute("INSERT INTO PEMESANAN VALUES ({},'{}','{}','{}','{}','{}','{}','{}')".format(index ,i[0],i[1],i[2],i[3],i[4],i[5],i[6]))
    
conn.commit()

In [52]:
c.execute('''SELECT * FROM PERUSAHAAN''')

PERUSAHAAN = []
for row in c.fetchall():
    PERUSAHAAN.append(row)
print("================================================DATA PERUSAHAAN=======================================================")
print(PERUSAHAAN)
print("========================================================================================================================")
print("")
c.execute('''SELECT * FROM KONSUMEN''')

KONSUMEN = []
for row in c.fetchall():
    KONSUMEN.append(row)
print("===============================================DATA KONSUMEN==========================================================")
print(KONSUMEN)
print("========================================================================================================================")
print("")

c.execute('''SELECT * FROM PEMESANAN''')

PEMESANAN = []
for row in c.fetchall():
    PEMESANAN.append(row)
print("================================================DATA PEMESANAN========================================================")
print(PEMESANAN)
print("======================================================================================================================")
print("")

================================================DATA PERUSAHAAN=======================================================
[(0, 'NABIL'), (1, 'MAMA MELAN'), (2, 'YUS'), (3, 'ASDAR'), (4, 'UMMU'), (5, 'UMMU'), (6, 'ASDAR'), (7, 'HASNA'), (8, 'SAPRI'), (9, 'MAMA MELAN'), (10, 'MISE'), (11, 'YUS'), (12, 'INDRI'), (13, 'MAMA MELAN'), (14, 'ISRA'), (15, 'ISRA'), (16, 'NABIL'), (17, 'ALI'), (18, 'ISRA'), (19, 'UMMU'), (20, 'INDRI'), (21, 'INDRI'), (22, 'MISE'), (23, 'LINA'), (24, 'STQ'), (25, 'WANDI'), (26, 'ISRA'), (27, 'YUS'), (28, 'MISE'), (29, 'ALI'), (30, 'INDRI'), (31, 'WANDI'), (32, 'ISRA'), (33, 'WANDI'), (34, 'STQ'), (35, 'UMMU'), (36, 'STQ'), (37, 'ISRA'), (38, 'STQ'), (39, 'ASDAR'), (40, 'MISE'), (41, 'YUS'), (42, 'INDRI'), (43, 'ISRA'), (44, 'HASNA'), (45, 'MAMA MELAN'), (46, 'ISRA'), (47, 'HASNA'), (48, 'SAPRI'), (49, 'UMMU'), (50, 'LINA'), (51, 'MAMA MELAN'), (52, 'UMMU'), (53, 'ASDAR'), (54, 'HASNA'), (55, 'LINA'), (56, 'SAPRI'), (57, 'ASDAR'), (58, 'UMMU'), (59, 'NABIL'), (60, 'ALI'), (61, 'HASNA'), (62, 'YUS'), (63, 'INDRI'), (64, 'WANDI'), (65, 'MISE'), (66, 'HASNA'), (67, 'NABIL'), (68, 'SAPRI'), (69, 'MAMA MELAN'), (70, 'ASDAR'), (71, 'WANDI'), (72, 'INDRI'), (73, 'HASNA'), (74, 'ALI'), (75, 'HASNA'), (76, 'UMMU'), (77, 'ASDAR'), (78, 'STQ'), (79, 'STQ'), (80, 'HASNA'), (81, 'INDRI'), (82, 'ISRA'), (83, 'NABIL'), (84, 'NABIL'), (85, 'YUS'), (86, 'ASDAR'), (87, 'INDRI'), (88, 'HASNA'), (89, 'UMMU'), (90, 'LINA'), (91, 'HASNA'), (92, 'STQ'), (93, 'LINA'), (94, 'STQ'), (95, 'UMMU'), (96, 'MISE'), (97, 'INDRI'), (98, 'YUS'), (99, 'ASDAR'), (100, 'MISE'), (101, 'HASNA'), (102, 'INDRI'), (103, 'ASDAR'), (104, 'STQ'), (105, 'MISE'), (106, 'STQ'), (107, 'NABIL'), (108, 'ALI'), (109, 'STQ'), (110, 'HASNA'), (111, 'LINA'), (112, 'SAPRI'), (113, 'MISE'), (114, 'INDRI'), (115, 'LINA'), (116, 'ALI'), (117, 'STQ'), (118, 'MAMA MELAN'), (119, 'UMMU'), (120, 'UMMU'), (121, 'SAPRI'), (122, 'ASDAR'), (123, 'ISRA'), (124, 'STQ'), (125, 'NABIL'), (126, 'ALI'), (127, 'STQ'), (128, 'ASDAR'), (129, 'LINA'), (130, 'LINA'), (131, 'YUS'), (132, 'STQ'), (133, 'MAMA MELAN'), (134, 'MISE'), (135, 'STQ'), (136, 'HASNA'), (137, 'MAMA MELAN'), (138, 'UMMU'), (139, 'SAPRI'), (140, 'ISRA'), (141, 'SAPRI'), (142, 'LINA'), (143, 'NABIL'), (144, 'LINA'), (145, 'MAMA MELAN'), (146, 'NABIL'), (147, 'MAMA MELAN'), (148, 'LINA'), (149, 'UMMU'), (150, 'SAPRI'), (151, 'ISRA'), (152, 'UMMU'), (153, 'MISE'), (154, 'WANDI'), (155, 'ALI'), (156, 'YUS'), (157, 'INDRI'), (158, 'INDRI'), (159, 'ISRA'), (160, 'HASNA'), (161, 'YUS'), (162, 'ASDAR'), (163, 'WANDI'), (164, 'MAMA MELAN'), (165, 'SAPRI'), (166, 'MAMA MELAN'), (167, 'LINA'), (168, 'UMMU'), (169, 'STQ'), (170, 'SAPRI'), (171, 'STQ'), (172, 'SAPRI'), (173, 'NABIL'), (174, 'HASNA'), (175, 'HASNA'), (176, 'ASDAR'), (177, 'LINA'), (178, 'ASDAR'), (179, 'MISE'), (180, 'SAPRI'), (181, 'WANDI'), (182, 'MAMA MELAN'), (183, 'SAPRI'), (184, 'ISRA'), (185, 'SAPRI'), (186, 'SAPRI'), (187, 'ASDAR'), (188, 'YUS'), (189, 'MISE'), (190, 'SAPRI'), (191, 'INDRI'), (192, 'MISE'), (193, 'WANDI'), (194, 'STQ'), (195, 'STQ'), (196, 'NABIL'), (197, 'STQ'), (198, 'STQ'), (199, 'INDRI'), (200, 'ALI'), (201, 'UMMU'), (202, 'STQ'), (203, 'YUS'), (204, 'INDRI'), (205, 'UMMU'), (206, 'SAPRI'), (207, 'YUS'), (208, 'HASNA'), (209, 'UMMU'), (210, 'INDRI'), (211, 'NABIL'), (212, 'YUS'), (213, 'STQ'), (214, 'WANDI'), (215, 'ISRA'), (216, 'MISE'), (217, 'ASDAR'), (218, 'YUS'), (219, 'NABIL'), (220, 'ALI')]
========================================================================================================================

===============================================DATA KONSUMEN==========================================================
[(0, 'nabil11', 'Unaaha', 842), (1, 'mamamelan13', 'Unaaha', 844), (2, 'yus12', 'Unaaha', 843), (3, 'asdar8', 'Konsel', 839), (4, 'ummu6', 'Unaaha', 837), (5, 'hasna5', 'Unaaha', 836), (6, 'sapri9', 'Unaaha', 840), (7, 'mise14', 'Unaaha', 845), (8, 'indri1', 'Unaaha', 832), (9, 'isra3', 'Konsel', 834), (10, 'ali10', 'Unaaha', 841), (11, 'lina4', 'Bombana', 835), (12, 'stq2', 'Unaaha', 833), (13, 'wandi7', 'Kendari', 838)]
========================================================================================================================

================================================DATA PEMESANAN========================================================
[(0, '2021-01-17', 91, '0,83', 18184, 1654744, 1, 1), (1, '2018-06-15', 98, '0,39', 19128, 1874544, 2, 2), (2, '2020-02-17', 162, '0,49', 15758, 2552796, 3, 3), (3, '2020-04-09', 52, '0,4', 17540, 912080, 4, 4), (4, '2019-07-06', 119, '0,45', 18792, 2236248, 5, 5), (5, '2020-06-03', 78, '0,03', 18994, 1481532, 5, 5), (6, '2019-12-15', 82, '0,15', 19024, 1559968, 4, 4), (7, '2020-09-11', 54, '0,9', 18823, 1016442, 8, 6), (8, '2020-01-02', 81, '0,53', 19127, 1549287, 9, 7), (9, '2018-04-17', 70, '0,96', 13382, 936740, 2, 2), (10, '2021-11-02', 115, '0,29', 14719, 1692685, 11, 8), (11, '2020-09-07', 76, '0,25', 15377, 1168652, 3, 3), (12, '2018-04-11', 109, '0,79', 12885, 1404465, 13, 9), (13, '2019-02-08', 74, '0,53', 13977, 1034298, 2, 2), (14, '2018-03-19', 93, '0,74', 13312, 1238016, 15, 10), (15, '2021-07-14', 60, '0,64', 13624, 817440, 15, 10), (16, '2018-08-10', 139, '0,86', 13812, 1919868, 1, 1), (17, '2019-03-15', 73, '0,18', 15834, 1155882, 18, 11), (18, '2018-05-20', 96, '0,31', 12934, 1241664, 15, 10), (19, '2018-02-24', 164, '0,55', 12995, 2131180, 5, 5), (20, '2021-11-21', 54, '0,98', 18632, 1006128, 13, 9), (21, '2021-05-13', 65, '0,98', 14555, 946075, 13, 9), (22, '2019-11-04', 56, '0,29', 18740, 1049440, 11, 8), (23, '2021-10-15', 95, '0,57', 18769, 1783055, 24, 12), (24, '2018-08-14', 147, '0,54', 19073, 2803731, 25, 13), (25, '2021-01-26', 51, '0,31', 18830, 960330, 26, 14), (26, '2018-08-19', 55, '0,41', 14327, 787985, 15, 10), (27, '2021-11-18', 115, '0,94', 14032, 1613680, 3, 3), (28, '2018-06-26', 109, '0,85', 12996, 1416564, 11, 8), (29, '2021-07-22', 85, '0,52', 17433, 1481805, 18, 11), (30, '2018-03-23', 127, '0,72', 18058, 2293366, 13, 9), (31, '2021-03-12', 69, '0,94', 16111, 1111659, 26, 14), (32, '2018-02-02', 150, '0,24', 17483, 2622450, 15, 10), (33, '2020-09-15', 80, '0,9', 16333, 1306640, 26, 14), (34, '2018-04-01', 61, '0,14', 17337, 1057557, 25, 13), (35, '2021-08-28', 67, '0,35', 14688, 984096, 5, 5), (36, '2021-02-22', 96, '0,52', 15931, 1529376, 25, 13), (37, '2020-08-06', 85, '0,21', 12411, 1054935, 15, 10), (38, '2020-12-04', 135, '0,64', 13251, 1788885, 25, 13), (39, '2021-04-26', 127, '0,25', 17452, 2216404, 4, 4), (40, '2021-11-09', 78, '0,19', 17642, 1376076, 11, 8), (41, '2019-09-06', 99, '0,09', 19010, 1881990, 3, 3), (42, '2019-01-14', 125, '0,63', 12942, 1617750, 13, 9), (43, '2021-11-10', 147, '0,65', 14544, 2137968, 15, 10), (44, '2018-03-08', 68, '0,7', 15920, 1082560, 8, 6), (45, '2020-10-09', 89, '0,3', 15910, 1415990, 2, 2), (46, '2020-04-28', 67, '0,92', 16927, 1134109, 15, 10), (47, '2020-05-08', 141, '0,99', 13125, 1850625, 8, 6), (48, '2020-10-01', 76, '0,02', 17220, 1308720, 9, 7), (49, '2019-08-07', 143, '0,71', 17504, 2503072, 5, 5), (50, '2020-08-21', 58, '0,46', 14628, 848424, 24, 12), (51, '2021-06-04', 142, '0,12', 12182, 1729844, 2, 2), (52, '2019-10-25', 53, '0,55', 12483, 661599, 5, 5), (53, '2020-04-11', 92, '0,01', 18081, 1663452, 4, 4), (54, '2020-06-12', 105, '0,45', 16003, 1680315, 8, 6), (55, '2021-06-26', 160, '0,7', 13951, 2232160, 24, 12), (56, '2019-01-03', 143, '0,68', 13569, 1940367, 9, 7), (57, '2019-07-22', 156, '0,44', 14815, 2311140, 4, 4), (58, '2018-02-19', 127, '0,21', 17402, 2210054, 5, 5), (59, '2019-06-17', 92, '0,69', 16370, 1506040, 1, 1), (60, '2019-07-14', 77, '0,81', 18696, 1439592, 18, 11), (61, '2020-09-07', 140, '0,94', 12251, 1715140, 8, 6), (62, '2021-01-11', 153, '0,72', 13393, 2049129, 3, 3), (63, '2021-01-19', 87, '0,27', 12740, 1108380, 13, 9), (64, '2021-11-26', 147, '0,59', 14616, 2148552, 26, 14), (65, '2019-08-23', 136, '0,81', 16039, 2181304, 11, 8), (66, '2021-02-09', 156, '0,19', 18363, 2864628, 8, 6), (67, '2020-05-02', 158, '0,6', 17296, 2732768, 1, 1), (68, '2019-02-22', 54, '0,68', 17765, 959310, 9, 7), (69, '2021-01-08', 134, '0,68', 15027, 2013618, 2, 2), (70, '2021-06-15', 166, '0,94', 13252, 2199832, 4, 4), (71, '2018-11-25', 139, '0,49', 18259, 2538001, 26, 14), (72, '2020-08-15', 77, '0,93', 13578, 1045506, 13, 9), (73, '2021-11-24', 123, '0,73', 13686, 1683378, 8, 6), (74, '2020-03-01', 146, '0,79', 17608, 2570768, 18, 11), (75, '2019-04-10', 100, '0,8', 15537, 1553700, 8, 6), (76, '2021-07-18', 72, '0,59', 18476, 1330272, 5, 5), (77, '2020-07-23', 98, '0,85', 19153, 1876994, 4, 4), (78, '2020-06-13', 66, '0,44', 14731, 972246, 25, 13), (79, '2018-01-01', 115, '0,28', 18691, 2149465, 25, 13), (80, '2021-09-13', 95, '0,13', 13698, 1301310, 8, 6), (81, '2019-06-03', 110, '0,74', 12055, 1326050, 13, 9), (82, '2020-02-15', 118, '0,55', 13106, 1546508, 15, 10), (83, '2021-02-06', 106, '0,81', 14774, 1566044, 1, 1), (84, '2021-04-01', 56, '0,59', 16602, 929712, 1, 1), (85, '2019-07-04', 63, '0,29', 14398, 907074, 3, 3), (86, '2019-03-09', 134, '0,13', 13368, 1791312, 4, 4), (87, '2018-11-08', 110, '0,16', 16372, 1800920, 13, 9), (88, '2020-07-15', 135, '0,92', 17210, 2323350, 8, 6), (89, '2021-07-19', 79, '0,65', 17790, 1405410, 5, 5), (90, '2021-12-22', 108, '0,28', 14140, 1527120, 24, 12), (91, '2019-06-05', 110, '0,8', 17716, 1948760, 8, 6), (92, '2019-09-26', 165, '0,36', 18346, 3027090, 25, 13), (93, '2021-11-28', 100, '0,64', 16166, 1616600, 24, 12), (94, '2019-09-14', 121, '0,75', 15609, 1888689, 25, 13), (95, '2020-09-18', 72, '0,6', 17415, 1253880, 5, 5), (96, '2020-07-16', 130, '0,9', 13853, 1800890, 11, 8), (97, '2018-09-15', 115, '0,24', 13204, 1518460, 13, 9), (98, '2019-08-06', 59, '0,85', 17369, 1024771, 3, 3), (99, '2021-03-08', 156, '0,36', 14086, 2197416, 4, 4), (100, '2018-02-15', 87, '0,73', 12892, 1121604, 11, 8), (101, '2019-02-20', 90, '0,25', 16503, 1485270, 8, 6), (102, '2018-08-12', 90, '0,85', 15905, 1431450, 13, 9), (103, '2020-09-16', 65, '0,01', 16955, 1102075, 4, 4), (104, '2019-05-17', 149, '0,55', 19096, 2845304, 25, 13), (105, '2021-01-11', 89, '0,89', 12689, 1129321, 11, 8), (106, '2019-12-21', 161, '0,94', 16859, 2714299, 25, 13), (107, '2018-01-19', 65, '0,81', 14912, 969280, 1, 1), (108, '2020-07-25', 123, '0,79', 12417, 1527291, 18, 11), (109, '2019-02-12', 104, '0,62', 15475, 1609400, 25, 13), (110, '2018-12-26', 119, '0,23', 14599, 1737281, 8, 6), (111, '2018-04-08', 165, '0,14', 16500, 2722500, 24, 12), (112, '2021-01-15', 125, '0,18', 13788, 1723500, 9, 7), (113, '2020-04-19', 101, '0,04', 16671, 1683771, 11, 8), (114, '2019-05-14', 104, '0,5', 15142, 1574768, 13, 9), (115, '2019-10-08', 73, '0,91', 13038, 951774, 24, 12), (116, '2019-04-05', 77, '0,41', 12041, 927157, 18, 11), (117, '2020-02-04', 60, '0,48', 18723, 1123380, 25, 13), (118, '2021-05-25', 152, '0,78', 18652, 2835104, 2, 2), (119, '2018-04-17', 71, '0,87', 17632, 1251872, 5, 5), (120, '2020-04-16', 102, '0,2', 17063, 1740426, 5, 5), (121, '2021-05-07', 75, '0,25', 13288, 996600, 9, 7), (122, '2020-10-03', 106, '0,44', 15865, 1681690, 4, 4), (123, '2019-11-16', 83, '0,28', 12243, 1016169, 15, 10), (124, '2019-11-23', 115, '0,34', 12537, 1441755, 25, 13), (125, '2021-06-11', 118, '0,5', 17891, 2111138, 1, 1), (126, '2020-02-25', 123, '0,44', 18675, 2297025, 18, 11), (127, '2018-08-17', 138, '0,98', 14725, 2032050, 25, 13), (128, '2020-07-18', 63, '0,02', 16141, 1016883, 4, 4), (129, '2020-10-13', 149, '0,77', 14761, 2199389, 24, 12), (130, '2020-10-18', 72, '0,97', 12282, 884304, 24, 12), (131, '2018-03-06', 99, '0,38', 13770, 1363230, 3, 3), (132, '2020-12-12', 159, '0,71', 17401, 2766759, 25, 13), (133, '2020-01-06', 101, '0,32', 13237, 1336937, 2, 2), (134, '2020-03-09', 80, '0,68', 12872, 1029760, 11, 8), (135, '2018-03-15', 139, '0,96', 16704, 2321856, 25, 13), (136, '2019-12-02', 114, '0,18', 17874, 2037636, 8, 6), (137, '2020-06-24', 122, '0,53', 17302, 2110844, 2, 2), (138, '2018-12-02', 99, '0,86', 17373, 1719927, 5, 5), (139, '2020-11-19', 61, '0,65', 17044, 1039684, 9, 7), (140, '2021-09-16', 159, '0,34', 12734, 2024706, 15, 10), (141, '2021-05-02', 52, '0,8', 17168, 892736, 9, 7), (142, '2020-03-09', 90, '0,23', 13337, 1200330, 24, 12), (143, '2021-05-02', 78, '0,51', 16581, 1293318, 1, 1), (144, '2020-05-10', 97, '0,19', 16654, 1615438, 24, 12), (145, '2020-06-20', 125, '0,7', 14323, 1790375, 2, 2), (146, '2021-02-16', 164, '0,58', 18656, 3059584, 1, 1), (147, '2018-06-02', 91, '0,03', 15821, 1439711, 2, 2), (148, '2020-01-28', 130, '0,8', 14324, 1862120, 24, 12), (149, '2018-07-12', 113, '0,86', 13268, 1499284, 5, 5), (150, '2019-11-16', 104, 0, 12275, 1276600, 9, 7), (151, '2020-04-26', 63, '0,83', 13411, 844893, 15, 10), (152, '2021-04-01', 165, '0,6', 18017, 2972805, 5, 5), (153, '2021-06-26', 92, '0,69', 14745, 1356540, 11, 8), (154, '2019-09-24', 166, '0,27', 18950, 3145700, 26, 14), (155, '2018-03-03', 136, '0,04', 12138, 1650768, 18, 11), (156, '2020-06-09', 159, '0,99', 15665, 2490735, 3, 3), (157, '2018-01-02', 148, '0,57', 16270, 2407960, 13, 9), (158, '2019-08-14', 150, '0,85', 17006, 2550900, 13, 9), (159, '2020-06-26', 140, '0,12', 12482, 1747480, 15, 10), (160, '2021-12-23', 71, '0,37', 17860, 1268060, 8, 6), (161, '2018-02-03', 117, '0,73', 17900, 2094300, 3, 3), (162, '2021-11-03', 73, '0,48', 14934, 1090182, 4, 4), (163, '2018-08-06', 141, '0,31', 18553, 2615973, 26, 14), (164, '2021-05-07', 101, '0,75', 17831, 1800931, 2, 2), (165, '2021-03-20', 137, '0,57', 14302, 1959374, 9, 7), (166, '2020-09-10', 57, '0,59', 19063, 1086591, 2, 2), (167, '2021-11-21', 159, '0,88', 12152, 1932168, 24, 12), (168, '2019-06-12', 53, '0,32', 12669, 671457, 5, 5), (169, '2018-07-13', 140, '0,85', 13325, 1865500, 25, 13), (170, '2018-07-28', 67, '0,44', 12100, 810700, 9, 7), (171, '2019-04-24', 136, '0,5', 12920, 1757120, 25, 13), (172, '2018-09-20', 160, '0,73', 14176, 2268160, 9, 7), (173, '2019-11-11', 139, '0,26', 15525, 2157975, 1, 1), (174, '2020-08-03', 108, '0,95', 14537, 1569996, 8, 6), (175, '2018-05-23', 164, '0,81', 15632, 2563648, 8, 6), (176, '2019-03-23', 131, '0,88', 14375, 1883125, 4, 4), (177, '2018-12-28', 120, '0,47', 18573, 2228760, 24, 12), (178, '2021-10-28', 73, '0,27', 16865, 1231145, 4, 4), (179, '2019-09-19', 139, '0,49', 17638, 2451682, 11, 8), (180, '2018-10-06', 163, 1, 18228, 2971164, 9, 7), (181, '2018-12-02', 78, '0,32', 15244, 1189032, 26, 14), (182, '2020-10-12', 59, '0,41', 15485, 913615, 2, 2), (183, '2018-03-03', 91, '0,08', 17692, 1609972, 9, 7), (184, '2019-07-22', 161, '0,78', 18498, 2978178, 15, 10), (185, '2019-06-10', 98, '0,86', 19147, 1876406, 9, 7), (186, '2018-06-11', 110, '0,21', 18112, 1992320, 9, 7), (187, '2020-04-13', 63, '0,11', 16854, 1061802, 4, 4), (188, '2018-01-01', 116, '0,86', 14725, 1708100, 3, 3), (189, '2018-06-11', 106, '0,04', 15366, 1628796, 11, 8), (190, '2019-08-16', 73, '0,47', 12010, 876730, 9, 7), (191, '2019-05-08', 76, '0,96', 16056, 1220256, 13, 9), (192, '2020-05-04', 99, '0,59', 17564, 1738836, 11, 8), (193, '2019-11-02', 63, '0,27', 18210, 1147230, 26, 14), (194, '2020-07-02', 134, '0,32', 12682, 1699388, 25, 13), (195, '2021-11-13', 134, '0,13', 12707, 1702738, 25, 13), (196, '2019-07-10', 84, '0,12', 13665, 1147860, 1, 1), (197, '2021-10-28', 56, '0,18', 14494, 811664, 25, 13), (198, '2020-01-18', 128, '0,36', 14533, 1860224, 25, 13), (199, '2018-06-01', 121, '0,28', 12656, 1531376, 13, 9), (200, '2021-08-11', 152, '0,51', 17818, 2708336, 18, 11), (201, '2021-11-04', 80, '0,52', 17914, 1433120, 5, 5), (202, '2019-12-18', 64, '0,75', 18453, 1180992, 25, 13), (203, '2020-07-02', 101, '0,94', 12367, 1249067, 3, 3), (204, '2019-02-22', 82, '0,99', 12438, 1019916, 13, 9), (205, '2021-12-22', 54, '0,75', 16923, 913842, 5, 5), (206, '2020-04-08', 162, '0,07', 12516, 2027592, 9, 7), (207, '2019-06-09', 52, '0,53', 15195, 790140, 3, 3), (208, '2019-06-08', 83, '0,24', 16037, 1331071, 8, 6), (209, '2021-01-16', 146, '0,71', 16625, 2427250, 5, 5), (210, '2018-10-03', 75, '0,83', 18820, 1411500, 13, 9), (211, '2018-08-25', 130, '0,67', 12687, 1649310, 1, 1), (212, '2019-12-19', 130, '0,51', 15008, 1951040, 3, 3), (213, '2021-09-19', 94, '0,49', 17733, 1666902, 25, 13), (214, '2019-02-11', 144, '0,03', 18436, 2654784, 26, 14), (215, '2019-01-15', 109, '0,23', 17989, 1960801, 15, 10), (216, '2020-06-18', 165, '0,47', 12009, 1981485, 11, 8), (217, '2021-07-17', 84, '0,7', 17004, 1428336, 4, 4), (218, '2018-12-11', 117, '0,54', 17238, 2016846, 3, 3), (219, '2020-12-10', 107, '0,97', 15664, 1676048, 1, 1), (220, '2018-01-23', 136, '0,2', 18961, 2578696, 18, 11)]
======================================================================================================================